html,
body {
  user-select: none;
}
.ffmpeg {
  background-color: #2487eb;
  background-image: url("data:image/webp;base64,UklGRoIBAABXRUJQVlA4THUBAAAvJAALABcgFkzxvUQjG6BMFVYEAhSF/xNtmf/4b1MLkmRrT+vo/7+SArNPLjk0YtqF5JKT7pmces6DUZhWwTRrCs2awevsRUT0PyXXH8aE8g4iIiUpAj00phKKh8uUsbBoAobd0ejt+Gn4jJISK7NiFCXdRXS71kBXvED9uwT1gfXFPLM6yrK7HXoL0ySnkbOHEC9pU3omojEhaHQ2Q5zQlttO0f5+ao/+vf1qoS0blQ8iSFlEe7P5ETqfrA0rteJm14v6L6VD9nLxkawa1CzEmoUJhRQRyoYLqDMvxozbUJAiNjEPsdN27VO7czxEzD7GOK9TUK83mNiWeQhFi/xFAyIfcqy5ZxCy8rIYGAul7iudaZCWr27qiimCX1u9jR8iYVww1YVfdvj31L4ddUdP56gpXovBfA+kEjN7CyVi5sX7yWZGcbg8oONQL3C5PBZUd33C7Uh7TzNOLoD5CeMwwzk4Si4O864g8N3lla6Wu+j+df8DAA==");
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .uploadTool {
    text-align: center;
    padding: 60px 0px;
    background: #fff;
    box-shadow: 0 3px 24px rgb(0 0 0 / 8%);
    border-radius: 4px;
    min-width: 700px;
  }
  .entry {
    cursor: pointer;
    user-select: none;
  }
  .progressWrap {
    margin-bottom: 100px;
    margin-top: 20px;
    width: 70%;
  }
  .log {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
  .link {
    color: #61dafb;
  }
  .tools {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -16px;
    margin-top: -16px;
    .toolsItem {
      color: #707375;
      background: #ffffff;
      border-radius: 12px;
      padding: 16px;
      overflow: hidden;
      height: 100%;
      margin-left: 16px;
      margin-top: 16px;
      width: calc((100% / 3) - 16px);
      cursor: pointer;
      .content {
        display: flex;
        align-items: center;
        .icon {
          border-radius: 8px;
          width: 48px;
          height: 48px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          background: #e2f0fe;
          margin-right: 12px;
        }
        .title {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: #181d20;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.4;
          letter-spacing: 0.005em;
          margin-bottom: 2px;
        }
      }
      .desc {
        margin-top: 12px;
        font-size: 14px;
      }
    }
  }
}
